* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: 'Open Sans';
}
.container {
    width: 700px;
    margin: auto;
}
.toptitle {
    overflow: hidden;
}

.toptitle p {
    float: right;
    color: white;
    text-align: center;
    padding: 50px 0px 14px 16px;
    font-size: 12px;
    font-weight: bold;
}
.toptitle img {
    float: right;
    width: 22px;
    padding: 50px 0px 15px 10px;
}
.toptitle a {
    float: right;
    color: #2aa9e0;
    text-align: center;
    text-decoration: none;
    padding: 50px 0px 14px 0px;
    font-size: 12px;
}
.toptitle a:hover {
    color: #1f7ba3;
}

.toptitle h1 {
    float: left;
    color: white;
    font-size: 60px;
    padding-top: 30px;
}

.container h2 {
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.footer {
    text-align: center;
    color: white;
    font-size: 12px;
    padding: 30px;
}

.digit-list {
    color: white;
    font-size: 17px;
}

.digit {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: 8% 36% 16% 26% 5% 5%;
    column-gap: 5px;
}

.digit-id {
}

.digit-name {
    text-align: right;
    background-color: white;
    color:black;
    padding-right: 5px;
}

.digit-price {
    text-align: right;
    padding-right: 15px;
}

.digit-regdate {
}

.digit-oslink {
}

.digit-enslink {
}

.filter-container {
    padding-top: 50px;
}

.filter-container label {
    color: white;
}

.filter-container label {
    color: white;
}

.list-length-info {
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
}

.filter-label{
  margin-left: 10px;
}

.sort-switch{
  float: right;
  display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-right: 10px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.sales-list {
    color: white;
    font-size: 17px;
}

.sale {
    padding: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: 36% 14% 10% 26% 5% 5%;
    column-gap: 5px;
}

.sale-name {
    text-align: right;
    background-color: white;
    color:black;
    padding-right: 5px;
}

.sale-price {
    text-align: right;
    padding-right: 15px;
}

.sale-label {
    text-align: right;
}

.sale-time {
}

.digit-oslink {
}

.digit-enslink {
}

.nav-container {
    margin: auto;
    margin-top:60px;
    margin-bottom: 40px;
    width:200px;
}


.nav-button{
    color:white;
    background-color: black;
    float:left;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    width:100px;
}

.nav-button-active{
    background-color: white;
    color:black;
    float:left;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    width:100px;
}

.nav-button:hover{
    background-color: grey;
}




















